.navbar {
    background-color: cornflowerblue ;
    color: darkolivegreen;
    padding: 20px;
    text-align: right;

}
.navbar a{
    color: aliceblue;
    text-decoration: none;
    margin: 5px;
    border: 1px solid;
    padding: 5px;
}

.active {
    background-color: white;
    color: darkcyan !important;

}